{% extends 'admin/layouts/main.html' %}
{% block title %}List of Customers{% endblock %}
{% block content %}

<div class="pt-4 px-2">
  <div class="col-lg-10">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Credit Card Accounts</h4>
        <!-- <p class="text-muted mb-0">Add <code>.table-bordered</code> for
              borders on all sides of the table and cells.
          </p> -->
      </div>
      <!--end card-header-->
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered mb-0 table-centered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Client</th>
                <th>Mobile Number</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {%for customer in customers %}
              <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.brand_partner }}</td>
                <td>{{ customer.mobileNumber }}</td>
                <td class="text-right">
                  <form method="post" class="d-inline">
                    <i class="las la-pen text-info font-18 edit-account" style="cursor: pointer;"></i>
                    <input type="hidden" name="edit" value="{{customer.mobileNumber}}">
                  </form>
                  <form method="post" class="d-inline">
                    <i class="las la-trash-alt text-danger font-18 delete-account" style="cursor: pointer;"></i>
                    <input type="hidden" name="delete" value="{{customer.mobileNumber}}">
                  </form>
                  <a href="/card-data?customer_id={{customer.mobileNumber}}" class="icon-block">
                    <i class="las la-database  font-18" id="open_fee_list" style="
                            font-size: 25px;
                            margin-top: 8px;
                            cursor: pointer;">
                    </i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!--end /table-->
        </div>
        <!--end /tableresponsive-->
      </div>
      <!--end card-body-->
    </div>
    <!--end card-->
    <div class="col-md-3 col-12 mx-auto">
      <a href="/customers/create">
        <button class="btn btn-soft-primary btn-block">Create New Account</button>
      </a>
    </div>
  </div> <!-- end col -->
</div>

<script>
  $(document).ready(function () {
    $('.delete-account').click(function () {
      var $form = $(this).closest('form');
      $form.submit();
    });
  });
  $(document).ready(function () {
    $('.edit-account').click(function () {
      var $form = $(this).closest('form');
      $form.submit();
    });
  });
</script>

{% endblock %}