
{% extends 'customer/layouts/main.html' %}
{% block content %}

<div id="appCapsule">
<div class="section mt-2">
<div class="card-block bg-dark mb-2">
    <div class="card-main">
        <div class="card-button dropdown" style="right:17px; bottom:19px;top:114px;">
                        
            <button type="text" class="btn btn-link btn-icon" >
                <h2 class="title" style="color:white">Visa</h2>
                <!-- <img src="../../static/customer/assets/img/visa.png" alt="img" class="image-block imaged w48"> -->
            </button>
        </div>


        
        <div class="balance">
            <span class="label">CardHolder Name</span>
            <h1 class="title">Ram RV</h1>
        </div>


        <!-- <div id="Foo" class="collapse"> -->
        <!-- <div class="in">
            <div class="card-number">
                <span class="label">Card Number</span>
                •••• 9905
            </div>
            <div class="bottom">
                <div class="card-expiry">
                    <span class="label">Expiry</span>
                    12 / 25
                </div>
                <div class="card-ccv">
                    <span class="label">CVV</span>
                    553
                </div>
            </div>
        </div> -->
        <!-- </div> -->
        <div style="margin:auto;">
            <a href="card-detailscomplete" class="card-link btn btn-primary" >View Card Details</a>           
        </div>
    </div>
</div>
</div>
</div>
<script></script>
{% endblock %}