<!doctype html>

	<head>
		<meta charset="utf-8">
		<title>Application Tracking Portal</title>

		<!-- meta -->
		<meta name="description" content="Application Tracking Portal">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!-- /meta -->

		<!-- App favicon -->
		<link rel="shortcut icon" href="/static/admin/assets/images/favicon.ico">
		
		<link href="/static/admin/assets/css/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <link href="/static/admin/assets/css/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
        <!-- Responsive datatable examples -->
        <link href="/static/admin/assets/css/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" /> 


		<!-- App css -->
		<link href="/static/admin/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/admin/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/admin/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/admin/assets/js/daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
		<link href="/static/admin/assets/css/app.min.css" rel="stylesheet" type="text/css" />
		<link href="/static/admin/assets/css/main.css" rel="stylesheet" type="text/css" />
		<link href="../static/admin/assets/css/dropify.min.css" rel="stylesheet" type="text/css" />
		<!-- custom css -->
		<link href="../static/admin/assets/css/custom.css" rel="stylesheet" type="text/css" />
		<!-- jquery -->
		<script src="/static/admin/assets/js/jquery.min.js"></script>
		<!-- alpine js -->
		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
		<!-- custom js -->
		<script src="/static/admin/assets/js/custom.js"></script>

	</head>

	<body class="dark-sidenav" onload="validDate()">

		{% include 'admin/layouts/sidenav.html' %}

		<!-- Page Wrapper -->
		<div class="page-wrapper">
			
			{% include 'admin/layouts/navbar.html' %}

			<!-- Page Content-->
			<div class="page-content">

				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							<div class="alert {{category}}" role="alert" style="margin-top: 10px;">
								{{ message }}

								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						<!-- <div class="alert alert-warning fade in">
								<a class="close" data-dismiss="alert">&times;</a>
								{{ message }}
							</div> -->
						{% endfor %}
					{% endif %}
				{% endwith %}

				{% block content %}{% endblock %}

			</div>
			<!-- end page content -->

		</div>
		<!-- end page wrapper -->

		<!-- js -->
		<script src="/static/admin/assets/js/bootstrap.bundle.min.js"></script>
		<script src="/static/admin/assets/js/metismenu.min.js"></script>
		<script src="/static/admin/assets/js/waves.js"></script>
		<script src="/static/admin/assets/js/feather.min.js"></script>
		<script src="/static/admin/assets/js/simplebar.min.js"></script>
		<script src="/static/admin/assets/js/moment.js"></script>
		<script src="/static/admin/assets/js/daterangepicker.js"></script>
		<script src="/static/admin/assets/js/dropify.min.js"></script>
		<script src="/static/admin/assets/js/jquery.form-upload.init.js"></script>
		<script src="/static/js/script.js"></script>
		
		<!-- Required datatable js -->
        <script src="/static/admin/assets/js/datatables/jquery.dataTables.min.js"></script>
        <script src="/static/admin/assets/js/datatables/dataTables.bootstrap4.min.js"></script>
        <!-- Buttons examples -->
        <script src="/static/admin/assets/js/datatables/dataTables.buttons.min.js"></script>
        <script src="/static/admin/assets/js/datatables/buttons.bootstrap4.min.js"></script>
        <script src="/static/admin/assets/js/datatables/jszip.min.js"></script>
        <script src="/static/admin/assets/js/datatables/pdfmake.min.js"></script>
        <script src="/static/admin/assets/js/datatables/vfs_fonts.js"></script>
        <script src="/static/admin/assets/js/datatables/buttons.html5.min.js"></script>
        <script src="/static/admin/assets/js/datatables/buttons.print.min.js"></script>
        <script src="/static/admin/assets/js/datatables/buttons.colVis.min.js"></script>
        <!-- Responsive examples -->
        <script src="/static/admin/assets/js/datatables/dataTables.responsive.min.js"></script>
        <script src="/static/admin/assets/js/datatables/responsive.bootstrap4.min.js"></script>
		
        <script src="/static/admin/assets/js/dataTables.responsive.min.js"></script>
        <script src="/static/admin/assets/js/responsive.bootstrap4.min.js"></script>
        <script src="/static/admin/assets/js/jquery.datatable.init.js"></script>
        <script src="assets/pages/jquery.datatable.init.js"></script>


		<!-- App js -->
		<script src="/static/admin/assets/js/app.js"></script>

	</body>

</html>