<!-- Left Sidenav -->
<div class="left-sidenav">
	<!-- LOGO -->
	<div class="brand">
		<a href="index.html" class="logo">
			<!-- <span>
							<img src="/static/admin/assets/images/logo-sm.png" alt="logo-small" class="logo-sm">
					</span> -->
			<span>
				<img src="/static/admin/assets/images/logo.png" alt="logo-large" class="logo-lg logo-light"
					style="width: 50%; height: 40%;">
				<!-- <img src="/static/admin/assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark"> -->
			</span>
		</a>
	</div>
	<!--end logo-->
	<div class="menu-content h-100" data-simplebar>
		<ul class="metismenu left-sidenav-menu">

			<li class="menu-label mt-0">Main</li>

			<li>
				<a href="javascript: void(0);"> <i data-feather="home"
						class="align-self-center menu-icon"></i><span>Companies</span><span class="menu-arrow"><i
							class="mdi mdi-chevron-right"></i></span></a>
				<ul class="nav-second-level" aria-expanded="false">
					<li class="nav-item"><a class="nav-link" href="/companies"><i
								class="ti-control-record"></i>List</a></li>
					<li class="nav-item"><a class="nav-link" href="/companies/create"><i
								class="ti-control-record"></i>Create</a></li>
				</ul>
			</li>
			<!--
			<li>
				<a href="javascript: void(0);"> <i data-feather="home" class="align-self-center menu-icon"></i><span>Card Programs</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
				<ul class="nav-second-level" aria-expanded="false">
						<li class="nav-item"><a class="nav-link" href="/card-program/list"><i class="ti-control-record"></i>List</a></li>
						<li class="nav-item"><a class="nav-link" href="/card-program/create"><i class="ti-control-record"></i>Create</a></li>
				</ul>
			</li>

			<li>
				<a href="javascript: void(0);"> <i data-feather="home" class="align-self-center menu-icon"></i><span>Fee Modules</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
				<ul class="nav-second-level" aria-expanded="false">
						<li class="nav-item"><a class="nav-link" href="/fee-module/list"><i class="ti-control-record"></i>List</a></li>
						<li class="nav-item"><a class="nav-link" href="/fee-module/create"><i class="ti-control-record"></i>Create</a></li>
				</ul>
			</li>
			
			<hr class="hr-dashed hr-menu">
			<li class="menu-label my-2">Accounts</li>

			<li>
				<a href="javascript: void(0);"> <i data-feather="home"
						class="align-self-center menu-icon"></i><span>Accounts</span><span class="menu-arrow"><i
							class="mdi mdi-chevron-right"></i></span></a>
				<ul class="nav-second-level" aria-expanded="false">
					<li class="nav-item"><a class="nav-link" href="/customers"><i class="ti-control-record"></i>List</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/customers/create"><i
								class="ti-control-record"></i>Create</a></li>
				</ul>
			</li>

			<li>
				<a href="javascript: void(0);"> <i data-feather="home"
						class="align-self-center menu-icon"></i><span>Transactions</span><span class="menu-arrow"><i
							class="mdi mdi-chevron-right"></i></span></a>
				<ul class="nav-second-level" aria-expanded="false">
					<li class="nav-item"><a class="nav-link" href="/transaction_log/create?account_id=null"><i
								class="ti-control-record"></i>Transaction Log</a></li>
					<li class="nav-item"><a class="nav-link" href="/transactions/create?account_id=null"><i
								class="ti-control-record"></i>New Transaction</a></li>
				</ul>
			</li>

			<li>
				<a href="/cardcontrols/create?account_id=null"><i data-feather="box"
						class="align-self-center menu-icon"></i><span>Card Controls</span></a>
			</li>
			
			<hr class="hr-dashed hr-menu">
			<li class="menu-label my-2">Offers</li>

			<li>
				<a href="javascript: void(0);"> <i data-feather="home"
						class="align-self-center menu-icon"></i><span>Program Offers</span><span class="menu-arrow"><i
							class="mdi mdi-chevron-right"></i></span></a>
				<ul class="nav-second-level" aria-expanded="false">
					<li class="nav-item"><a class="nav-link" href="/offers/list"><i
								class="ti-control-record"></i>List</a></li>
					<li class="nav-item"><a class="nav-link" href="/offers/create"><i
								class="ti-control-record"></i>Create</a></li>
				</ul>
			</li>

			<hr class="hr-dashed hr-menu">
			<li class="menu-label my-2">Txn Enrichment</li>

			<li>
				<a href="javascript: void(0);"> <i data-feather="home"
						class="align-self-center menu-icon"></i><span>Merchants</span><span class="menu-arrow"><i
							class="mdi mdi-chevron-right"></i></span></a>
				<ul class="nav-second-level" aria-expanded="false">
					<li class="nav-item"><a class="nav-link" href="/merchants"><i class="ti-control-record"></i>List</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="/merchants/create"><i
								class="ti-control-record"></i>Create</a></li>
				</ul>
			</li>

			<li>
				<a href="javascript: void(0);"> <i data-feather="home"
						class="align-self-center menu-icon"></i><span>Classifiers</span><span class="menu-arrow"><i
							class="mdi mdi-chevron-right"></i></span></a>
				<ul class="nav-second-level" aria-expanded="false">
					<li class="nav-item"><a class="nav-link" href="/classifiers"><i
								class="ti-control-record"></i>List</a></li>
					<li class="nav-item"><a class="nav-link" href="/classifiers/create"><i
								class="ti-control-record"></i>Create</a></li>
				</ul>
			</li>

			<hr class="hr-dashed hr-menu">
			<li class="menu-label my-2">Cron jobs</li>

			<li>
				<a href="/auth_expire"><i data-feather="box"
						class="align-self-center menu-icon"></i><span>Auth Expire</span></a>
			</li>
			-->
			
		</ul>

	</div>
</div>
<!-- end left-sidenav-->